/* Form */
.iec_section_form .country-dropdown {
    width: 100%;
    max-width: 490px;
    margin: 0 auto 2.270734rem;
}

.iec_section_form .country-dropdown label {
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 600;
    font-size: 0.548108rem;
    color: #1b204c;
    margin-bottom: 0.352355rem;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.iec_section_form .country-dropdown select,
.iec_section_form .country-dropdown select:focus
.iec_section_form .country-dropdown select:focus-visible {
    font-family: 'Myriad Pro', sans-serif;
    display: block;
    width: 100%;
    height: auto;
    padding: 0 1.174518rem;
    border-radius: 0.117452rem;
    box-shadow: 0 2px 12px 0 rgba(97,97,97,.12);
    border: 2px solid #515a79;
    background-color: #fff;
    font-weight: 600;
    font-size: 0.939614rem;
    line-height: 2.349035rem;
    color: #1b204c;
    appearance: none;
    background-image: url(../../img/dark-blue-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 0.783012rem center;
    outline: none;
    box-shadow: none;
}

.select2-container.select2-container--large.select2-container--open,
.iec_section_form .country-dropdown .select2-container {
    display: block;
    width: 100% !important;
    color: #51525a;
}

.iec_section_form .country-dropdown .select2-container .select2-selection--single {
    width: 100%;
    height: auto;
    appearance: none;
    border-radius: 0.117452rem;
    box-shadow: 0 2px 12px 0 rgba(97,97,97,.12);
    border: 2px solid #515a79;
    background-color: #fff;
}

.iec_section_form .country-dropdown .select2-container .select2-selection--single .select2-selection__rendered {
    font-weight: 600;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 0.939614rem;
    line-height: 2.349035rem;
    color: #1b204c;
    padding: 0 1.174518rem;
}

.iec_section_form .country-dropdown .select2-container .select2-selection--single .select2-selection__arrow {
    top: 1.057066rem;
    right: 0.587259rem;
    width: 0.587259rem;
    height: 0.587259rem;
}

.iec_section_form .country-dropdown .select2-container .select2-selection--single .select2-selection__arrow b {
    background-image: url(../../img/dark-blue-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    display: block;
    left: 0;
    top: 0;
    margin: 0;
    transition: all .25s ease;
}

/* Contact Form */
.select2-container .select2-dropdown {
    border: 0;
    border-radius: 0;
    background-color: #eff0f7;
}

/* Form */
.iec_section_form .overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 0.195753rem;
    display:none;
    z-index:3;
}

.iec_section_form .loader{
    margin: -0.900464rem auto 0;
    top: 50%;
    border-color:rgba(27,32,76,.38) rgba(27,32,76,.38) rgba(27,32,76,.38) #1b204c;
}

.iec_section_form.loading .loader,
.iec_section_form .loading .overlay {
    display:block;
}

.iec_section_form .form-fields {
    max-width: 16.678151rem;
    margin-right: 0.743861rem;
    margin-left: auto;
}

.iec_section_form .form-fields h6,
.iec_section_form .form-fields .iec-form-heading {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 0.626409rem;
    font-weight: 700;
    line-height: 250%;
    color: #1b204c;
    margin: 0;
}

.iec_section_form .form-fields .error {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 0.626409rem;
    display: none;
    padding: 0px 0px !important;
    color: #a84e4e;
    text-align: left;
}

.iec_section_form .form-fields .form-field {
    margin-bottom: 0.783012rem;
    position: relative;
}

.iec_section_form .form-fields .form-field input:not([type="submit"], .select2-search__field),
.iec_section_form .form-fields .form-field input:not([type="submit"], .select2-search__field):focus {
    width: 100%;
    height: 1.840078rem;
    padding: 0.508958rem .587259rem .391506rem;
    border-radius: 0.117452rem;
    border: 1px solid #dedede;
    background-color: #f7f7f7;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
    font-size: 0.704710598847406665rem;
    line-height: 1.840078rem;
    color: rgba(27, 32, 76, .7);
    outline: none;
    box-shadow: none;
}

.iec_section_form .form-fields .form-field select,
.iec_section_form .form-fields .form-field select:focus,
.iec_section_form .form-fields .form-field select:focus-visible {
    display: block;
    width: 100%;
    height: 1.840078rem;
    padding: 0px 0.587259rem;
    border-radius: 0.117452rem;
    border: 1px solid #dedede;
    background-color: #f7f7f7;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
    font-size: 0.704710598847406665rem;
    line-height: 1.840078rem;
    color: rgba(27, 32, 76, .7);
    outline: none;
    box-shadow: none;
    appearance: none;
    background-image: url(../../img/grey-solid-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center right 0.587259rem;
}

.iec_section_form .form-fields .form-field input#phone {padding-left: 1.957529rem;}

.iec_section_form .form-fields .form-field.field-invalid input,
.iec_section_form .form-fields .form-field.field-invalid .field-invalid {
    border-bottom: 2px solid #d52114 !important;
}

.iec_section_form .form-fields .form-field .select2-container {
    color: #51525a;
    background-color: #f7f7f7;
    border: 1px solid #dedede;
    border-radius: 0.117452rem;
    width: 100% !important;
    display: block;
    height: 1.840078rem;
}

.iec_section_form .form-fields .form-field .select2-container .select2-selection--single {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    border-radius: 0;
}

.iec_section_form .form-fields .form-field .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0px 0.587259rem;
    height: 100%;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
    font-size: 0.704710598847406665rem;
    line-height: 1.840078rem;
    color: rgba(27,32,76,.7);
}

.iec_section_form .form-fields .form-field .select2-container .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 0.743861rem;
    right: 0.587259rem;
    width: 0.313205rem;
    height: 0.274054rem;
}

.iec_section_form .form-fields .form-field .select2-selection--multiple:after,
.iec_section_form .form-fields .form-field .select2-container .select2-selection--single .select2-selection__arrow b {
    background-image: url(../../img/arrow_down_delta.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    width: 0.313205rem;
    height: 0.274054rem;
    margin-top: 0;
    display: block;
    transition: all .25s ease;
}

.iec_section_form .form-fields .form-field .select2-container.select2-container--open .select2-selection--multiple:after,
.iec_section_form .form-fields .form-field .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow b {transform: rotate(180deg);}

.iec_section_form .form-fields .form-field .select2-selection--multiple {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
    position: relative;
    padding: 0 0.587259rem;
    display: flex;
    align-items: center;
}

.iec_section_form .form-fields .form-field .select2-container.select2-container--open .select2-selection--multiple {gap: 0.313205rem;}

.iec_section_form .form-fields .form-field .select2-selection--multiple:after {
    content: " ";
    background-position: center center;
    position: absolute;
    top: 0.743861ren;
    right: 0.587259rem;
}

.iec_section_form .form-fields .form-field .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    top: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.313205rem;
}

.iec_section_form .form-fields .form-field .select2-selection--multiple .select2-search.select2-search--inline {
    float: none;
    height: 100%;
    background-color: transparent;
}

.iec_section_form .form-fields .form-field .select2-selection--multiple  .select2-search.select2-search--inline .select2-search__field {
    height: 100%;
    color: #51525a;
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0.313205rem 0;
    margin-top: 0;
    margin-left: 0;
    cursor: pointer;
    font-family: 'Myriad Pro', sans-serif;
    line-height: 1.096216rem;
    line-height: 1.331120rem;
    font-size: .704710598847406665rem;
}

.iec_section_form .form-fields .form-field .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    margin: 0;
    height: 1.017915rem;
    border: none;
    background-color: #b6b8dd;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 0.548108rem;
    color: #fff;
    padding: 0 0.234903532949135555rem;
    border-radius: 0.156602rem;
    list-style: none;
    float: none;
    display: flex;
    align-items: center;
}

.iec_section_form .form-fields .form-field .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
    top: 0;
    position: relative;
    padding: 0;
    border: none;
    color: #fff;
    margin-right: 0.156602rem;
    height: 100%;
}

.iec_section_form .form-fields .form-field .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove:hover {background-color: transparent;}

.iec_section_form .form-fields .form-field textarea.expand-on-click,
.iec_section_form .form-fields .form-field textarea.expand-on-click:focus {
    height: 1.840078rem;
    width: 100%;
    padding: 0.508958rem .587259rem .391506rem;
    border-radius: 0.117452rem;
    border: 1px solid #dedede;
    background-color: #f7f7f7;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
    font-size: 0.704710598847406665rem;
    line-height: 0.939614rem;
    color: rgba(27, 32, 76, .7);
    outline: none;
    box-shadow: none;
}

.iec_section_form .form-fields input[type="submit"],
.iec_section_form .form-fields input[type="submit"]:focus {
    width: 100%;
    max-width: 11.901779rem;
    border-radius: 0.117452rem;
    border: none;
    background-color: #717da3;
    background-image: linear-gradient(93deg, #1b204b, #717da3);
    font-family: 'Myriad Pro', sans-serif;
    font-size: 0.861313rem;
    font-weight: 600;
    letter-spacing: 0.036019rem;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    padding: 0.391506rem;
    outline: 0;
    cursor: pointer;
    transition: all .3s ease;
}

.iec_section_form .form-fields input[type="submit"]:hover {
    background-image: linear-gradient(93deg, #1b204b, #1b204b);
    transition: all .3s ease;
}

.iec_section_form .form-fields .form-field .select2-container--open .select2-dropdown {
    background-color: #f7f7f7;
    border: 1px solid #dedede;
    border-radius: 3px;
    color: #51525a;
}

.iec_section_form .form-fields .form-field .select2-container--default .select2-results>.select2-results__options {
    max-height: 7.830118rem;
}

.iec_section_form .form-fields .form-field .select2-container--open .select2-dropdown .select2-search {padding: 0;}

.iec_section_form .form-fields .form-field .select2-container--open .select2-dropdown .select2-search input.select2-search__field,
.iec_section_form .form-fields .form-field .select2-container--open .select2-dropdown .select2-search input.select2-search__field:focus {
    outline: 0;
    border: 0;
    padding: 0.391506rem;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 0.548108rem;
    line-height: normal;
    background-color: #f7f7f7;
    color: #51525a;
    width: 100% !important;
    font-weight: 400;
}

.iec_section_form .form-fields .form-field .select2-container--open .select2-dropdown .select2-results__option {
    padding: 0.156602rem 0.548108rem 0.156602rem 0.861313rem;
    font-size: 0.704710598847406665rem;
    color: #444956;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

.iec_section_form .form-fields .form-field .select2-container--open .select2-dropdown .select2-results__option--selected[aria-selected] {
    background-color: #e8e9f3;
    color: #51525a;
}

/* CTA */
.iec_section_form .form-fields .form-field .select2-container--open .select2-dropdown  .select2-results__option--highlighted.select2-results__option--selectable[aria-selected=true]{
    color: #51525a;
    background-color: #c3c6da;
}

/* Form */
.iec_section_form .form-fields .form-field .iti {
    width: 100%;
    display: flex;
    border: 1px solid #dedede;
    background-color: #f7f7f7;
}

.iec_section_form .form-fields .form-field .iti input,
.iec_section_form .form-fields .form-field .iti input:focus {
    padding: .508958rem .587259rem .391506rem 0 !important;
    border: none;
    background-color: transparent;
}

.iec_section_form .form-fields .form-field .select2-container .select2-selection__clear {
    height: 100%;
    margin-right: 1.096216rem;
    font-size: 0.783012rem;
}

.iec_section_form .form-fields .form-field .select2-selection--multiple .select2-selection__clear {display: none;}

/* Partners */
.iec_become_a_partner_content {
    padding-top: 1.566024rem;
    max-width: 16.678151rem;
    margin-left: 0.743861rem;
    margin-right: auto;
}

.iec_become_a_partner_content h5,
.iec_become_a_partner_content .iec-primary-heading {
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 700;
    font-size: 0.939614rem;
    line-height: 125%;
    color: #1b204c;
    margin-bottom: 0.587259rem;
    text-transform: uppercase;
}

.iec_become_a_partner_content p {
    font-family: 'Myriad Pro', sans-serif;
    margin: 0 0 0.587259rem;
    font-weight: 400;
    font-size: 0.626409rem;
    line-height: 175%;
}

/* Form */
.iec_section_form .addresses {
    width: 100%;
    max-width: 16.678151rem;
    margin-left: 19px;
    margin-right: auto;
    padding-top: 30px;
}

.iec_section_form .addresses .address {
    display: block;
    font-size: 16px;
    color: #374151;
}

.iec_section_form .addresses .address .address_item {
    margin-bottom: 20px;
}

.iec_section_form .addresses .address h1 {
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 700;
    font-size: 1.644325rem;
    line-height: 44px;
    color: #1b204c;
    margin-bottom: 1.174518rem;
    text-transform: uppercase;
}

.iec_section_form .addresses .address p {
    font-size: 0.626409rem;
    line-height: 28px;
    color: #1b204c;
    margin: 0 0 1.174518rem;
}
