/* Hero */
.iec-tab-landing .iec_single_office_banner_swiper_warpper .iec_single_office_banner_box {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-image: var(--desktopImage);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 3.523553rem;
	padding-bottom: 3.327800rem;
	min-height: 25.839389rem;
}

/* Hero Slider */
.sub_head {
    font-size: 0.93961413179rem;
}

/* Offices */
.iec_single_office_tab_section {
	position: relative;
	margin-top: -1.957529rem;
}

.iec_office_tabs_swiper_wrap {
	overflow: hidden;
	width: 100%;
}

.iec_office_tabs_swiper {
	overflow: hidden;
	width: 100%;
}

.iec_office_tabs_swiper .swiper-slide {
	height: auto;
}

.iec_office_tabs_swiper .swiper-wrapper {
	align-items: flex-start;
}

.iec_single_office_tab_section .custom-tab-buttons {
	position: relative;
	top: 0;
	width: 100%;
	max-width: 31.320471rem;
	display: flex;
	align-items: center;
	border-radius: 7px 7px 0 0;
	overflow: hidden;
	z-index: 2;
}

.iec_single_office_tab_section .custom-tab-buttons .custom-tab-btn,
.iec_single_office_tab_section .custom-tab-buttons .custom-tab-btn:focus {
	flex: 0 0 auto;
	width: 33.333333%;
	max-width: 100%;
	height: 1.957529rem;
	border: none;
	border-radius: 0px;
	color: var(--dark-blue);
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.3s ease;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 400;
	font-size: 0.626409rem;
	line-height: 1.977105rem;
	text-align: center;
	margin-right: 0;
	outline: none;
	box-shadow: none;
}

.iec_single_office_tab_section .custom-tab-buttons .custom-tab-btn:first-child {
	background: #E5E8F1;
	z-index: 3;
	margin-right: -10px;
	border-radius: 0px 0.274054rem 0px 0px;
	box-shadow: 9px 0px 12px 0px #0000001F;
}

.iec_single_office_tab_section .custom-tab-buttons .custom-tab-btn:nth-child(2) {
	background: #CED3E4;
	z-index: 2;
	margin-right: -10px;
	border-radius: 0px 0.274054rem 0px 0px;
	box-shadow: 9px 0px 12px 0px #0000001F;
}

.iec_single_office_tab_section .custom-tab-buttons .custom-tab-btn:nth-child(3) {
	background: #BEC4D5;
	z-index: 1;
	border-radius: 0px 0.274054rem 0px 0px;
	box-shadow: 9px 0px 12px 0px #0000001F;
}

.iec_single_office_tab_section .custom-tab-buttons .custom-tab-btn.active,
.iec_single_office_tab_section .custom-tab-buttons .custom-tab-btn.active:first-child {
	background: #E5E8F1;
}

.iec_single_office_tab_section .custom-tab-buttons .custom-tab-btn.active:nth-child(2) {
	z-index: 4;
	box-shadow: 0px 0px 22.1px 0px #00000033;
}

.iec_single_office_tab_section .custom-tab-buttons .custom-tab-btn.active:nth-child(3) {
	z-index: 4;
	box-shadow: 0px 0px 22.1px 0px #00000033;
}

.iec_single_office_tab_section .custom-tab-buttons .custom-tab-btn:first-child {
	background: #CED3E4;
}

/* Hero */
.iec_single_office_banner_box .banner_content .iec_single_office_logo {
    width: 100%;
    max-width: 20.710661rem;
    margin-top: 1.566024rem;
}

/* Tabs */
.iec-tab-landing .iec_tab_landing_panels {
	background: transparent;

}

.iec-tab-landing .iec_tab_landing_panel_inner {
	padding-top: 2.740541rem;
	padding-bottom: 2rem;
}

.iec-tab-landing .iec_tab_landing_content {
	color: var(--dark-blue, #003b4d);
	font-size: 0.888889rem;
	line-height: 1.5;
}

.iec-tab-landing .iec_tab_landing_content h2,
.iec-tab-landing .iec_tab_landing_content h3 {
	margin-bottom: 1rem;
}

.iec-tab-landing .iec_tab_landing_content p  { margin-bottom: 0.75rem; }

.iec-tab-landing .iec_tab_landing_content img {
	max-width: 100%;
	height: auto;
}

.iec-tab-landing .iec_tab_landing_tabs_swiper { overflow: hidden; }

.iec-tab-landing .iec_tab_section_heading {
	color: var(--dark-blue, #1b204c);
	font-family: 'Myriad Pro', sans-serif;
	font-size: 1.331120rem;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0.626409rem;
}

.iec-tab-landing .iec_tab_body_text {
	color: var(--dark-blue, #1b204c);
	font-family: 'Myriad Pro', sans-serif;
	font-size: 0.743861rem;
	font-weight: 300;
	line-height: 130%;
	margin-bottom: 0.626409rem;
}

.iec-tab-landing .iec_tab_body_text p                  { margin-bottom: 0; }

.iec-tab-landing .iec_tab_body_text p:not(:last-child) { margin-bottom: 0.626409rem; }

/* About */
.iec-tab-landing .iec_tab_about {
	background: #fff;
	padding: 1.526873rem 0 2.740541rem;
}

/* Tabs */
.iec-tab-landing .iec_tab_disclaimer {
	display: flex;
	align-items: center;
	gap: 0.704710598847406665rem;
	padding: 0.783012rem;
	background: #727da3;
	margin-bottom: 1.566024rem;
}

.iec-tab-landing .iec_tab_disclaimer_icon {
	flex-shrink: 0;
	width: 2.349035rem;
	height: 2.349035rem;
}

.iec-tab-landing .iec_tab_disclaimer_label {
	flex-shrink: 0;
	color: #fff;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 0.783012rem;
	font-weight: 700;
	line-height: 120%;
	text-transform: uppercase;
}

.iec-tab-landing .iec_tab_disclaimer_text {
	color: #fff;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 0.783012rem;
	font-weight: 400;
	line-height: 120%;
	margin: 0 0 0 0.861313rem;
}

.iec-tab-landing .iec_tab_role_heading { margin-top: 2.349035rem; }

/* Features */
.iec-tab-landing .iec_tab_features {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0.78301177649rem
}

.iec-tab-landing .iec_tab_feature_item {
	flex: 1 0 0;
	display: flex;
	align-items: center;
	gap: 0.46980706589827111rem;
	padding: 0.704710598847406665rem 0.391506rem;
	border: 2px solid rgba(202, 209, 234, 0.60);
}

.iec-tab-landing .iec_tab_feature_icon {
	flex-shrink: 0;
	width: 1.174518rem;
	height: auto;

}

.iec-tab-landing .iec_tab_feature_label {
	color: #727da3;
	font-family: 'Segoe UI', sans-serif;
	font-size: 0.704710598847406665rem;
	font-weight: 400;
	line-height: 130%;
}

/* Tabs */
.iec-tab-landing .iec_tab_department {
	background: #fff;
	padding: 1.526873rem 0 4.071661rem;
}

.iec-tab-landing .iec_tab_dept_header {
	align-items: center;
	margin-bottom: 1.605174rem;
}

.iec-tab-landing .iec_tab_dept_intro {
	color: var(--dark-blue, #1b204c);
	font-family: 'Myriad Pro', sans-serif;
	font-size: 0.783012rem;
	font-weight: 300;
	line-height: 130%;
	margin: 0;
}

/* CTA */
.iec-tab-landing .iec_tab_dept_cta_col {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

/* Contact */
.iec-tab-landing .iec_tab_dept_contact_btn {
	display: inline-block;
	color: #FFF;
	text-align: center;
	font-family: "Myriad Pro";
	font-size: 0.70471059884rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	transition: background 0.3s ease, color 0.3s ease;
	border-radius: 0.31320471059rem;
	background: #727DA3;
	padding: 0.31320471059rem 1.56602355299rem;

}

.iec-tab-landing .iec_tab_dept_contact_btn:hover {
	background: #727da3;
	color: #fff;
}

/* Cards */
.iec-tab-landing .iec_tab_dept_card {
	border: 2px solid rgba(202, 209, 234, 0.60);
	border-radius: 0.46980706589827111rem;
	background: transparent;
	padding: 1.135367rem 0.46980706589827111rem 1.096216rem 1.683835rem;
}

.iec-tab-landing .iec_tab_dept_card--highlighted {
	background: rgba(202, 209, 234, 0.40);
}

.iec-tab-landing .iec_tab_dept_card:not(:last-child) { margin-bottom: 1.566024rem; }

.iec-tab-landing .iec_tab_dept_card_layout {
	display: flex;
	align-items: center;
	gap: 0.46980706589827111rem;
}

.iec-tab-landing .iec_tab_dept_card_text { flex: 1 1 0; }

.iec-tab-landing .iec_tab_dept_card_title {
	color: var(--dark-blue, #1b204c);
	font-family: 'Myriad Pro', sans-serif;
	font-size: 0.939614rem;
	font-weight: 700;
	line-height: 120%;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0.195753rem;
}

.iec-tab-landing .iec_tab_dept_card_body {
	color: var(--dark-blue, #1b204c);
	font-family: 'Myriad Pro', sans-serif;
	font-size: 0.783012rem;
	font-weight: 300;
	line-height: 130%;
	margin-bottom: 0.978765rem;
}

.iec-tab-landing .iec_tab_dept_card_body p                  { margin-bottom: 0; }

.iec-tab-landing .iec_tab_dept_card_body p:not(:last-child) { margin-bottom: 0.391506rem; }

/* Features */
.iec-tab-landing .iec_tab_dept_features {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 0.46980706589827111rem;
}

.iec-tab-landing .iec_tab_dept_features li {
	display: flex;
	align-items: center;
	gap: 0.587259rem;
	color: var(--dark-blue, #1b204c);
	font-family: 'Myriad Pro', sans-serif;
	font-size: 0.783012rem;
	font-weight: 300;
	line-height: 130%;
}

.iec-tab-landing .iec_tab_dept_features li svg {
	flex: 0 0 auto;
	width: 1.174518rem;
	height: auto;
}

/* Cards */
.iec-tab-landing .iec_tab_dept_card_media {
	flex: 0 0 auto;
	width: 19.379541rem;
}

.iec-tab-landing .iec_tab_dept_card_img {
	width: 100%;
	height: auto;
	object-fit: contain;
	display: block;
}

/* Contact */
.iec_contact_list li {
	font-family: Myriad Pro, sans-serif;
	font-weight: 300;
	font-size: 0.783012rem;
	line-height: 130%;
	color: #27284A;
}

.iec_contact_list li a {
	font-family: Myriad Pro, sans-serif;
	font-weight: 300;
	display: flex;
	align-items: center;
	gap: 0.46980706589827111rem;
	transition: all 0.5s ease-in-out;
}

.iec_contact_list li a svg {
	width: 1.252819rem;
	height: auto;
}

.iec_contact_list li a:hover {
	font-weight: 500;
	color: #1b204c;
	transition: all 0.5s ease-in-out;
}

#map {
	height: 19.575294rem;
	width: 100%;
}

.info-panel {
	padding: 0.783012rem;
	background-color: #f8fafc;
	border-top: 1px solid #e2e8f0;
}

.address {
	display: flex;
	align-items: center;
	gap: 0.391506rem;
	font-size: 0.626409rem;
	color: #374151;
}

.address-icon {
	width: 0.783012rem;
	height: 0.783012rem;
	fill: #1e40af;
}

.address_detail_repeater {
	font-style: normal;
	margin-bottom: 0.978765rem;
}

.address_heading {
	color: #1B204C;
	font-family: 'Myriad Pro';
	font-size: 1.017915rem;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 0.587259rem;
}

.address_detail_repeater p {
	font-weight: 300;
	font-family: Myriad Pro, sans-serif;
	font-size: 0.783012rem;
	line-height: 130%;
	letter-spacing: 0;
	color: #1b204c;
	margin: 0 0 1.448572rem;
	max-width: 13.546104rem;
}

.address_detail_repeater p br {
	display: none;
}

/* About */
.iec_single_office_about,
.iec_single_office_tab_contact_us {
	padding-top: 2.740541rem;
	padding-bottom: 2.740541rem;
	position: relative;
	overflow: hidden;
}

#map iframe {
	height: 100%;
	width:100%;
}

@media (min-width: 768px) {
/* Tabs */
.iec-tab-landing .iec_tab_landing_tab_section .custom-tab-buttons .custom-tab-btn {
		flex: 1 1 0;
		width: auto;
		min-width: 0;
	}
}

/* Mobile */
@media (max-width: 767px) {
/* Hero */
.iec-tab-landing .iec_single_office_banner_swiper_warpper .iec_single_office_banner_box {
		background-image: var(--mobileImage, var(--desktopImage));
	}
}

@media (max-width: 767px) {
/* Offices */
.iec-tab-landing .iec_single_office_tab_section { margin-top: 0; }

/* Tabs */
.iec-tab-landing .iec_tab_landing_panel_inner   { padding-top: 1.5rem; }

/* Hero */
.iec_single_office_banner_box .banner_content .iec_single_office_logo {
		max-width: 100% !important;
		margin-top: 0.666667rem !important;
		margin-bottom: 0.5rem !important;
	}

/* About */
.iec-tab-landing .iec_tab_about,
	.iec-tab-landing .iec_tab_department {padding: 2.222222rem 0;}

/* Cards */
.iec-tab-landing .iec_tab_dept_card_title,
	.iec-tab-landing .iec_tab_section_heading {
		font-size: 1.444444rem;
		line-height: 115.385%;
		letter-spacing: 0.028889rem;
		margin-bottom: 1.111111rem;
		text-align: center;
	}

.iec-tab-landing .iec_tab_body_text,
	.iec-tab-landing .iec_tab_dept_intro,
	.iec-tab-landing .iec_tab_dept_card_body {
		font-size: 0.888889rem;
		line-height: 150%;
		margin-bottom: 1.111111rem;
	}

/* Tabs */
.iec-tab-landing .iec_tab_disclaimer {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0.888889rem;
        text-align: center;
        padding: 1.111111rem;
        margin-bottom: 1.111111rem;
	}

.iec-tab-landing .iec_tab_disclaimer_icon {
		width: 3.333333rem;
		height: auto;
	}

.iec-tab-landing .iec_tab_disclaimer_label {
		font-size: 1.111111rem;
		margin-bottom: 0.222222rem;
	}

/* Features */
.iec-tab-landing .iec_tab_feature_label,
	.iec-tab-landing .iec_tab_disclaimer_text {
		margin: 0;
		font-size: 1rem;
		line-height: 133.333%;
	}

.iec-tab-landing .iec_tab_feature_item {
		flex: 1 1 100%;
        gap: 0.666667rem;
        padding: 1.111111rem 0.666667rem;
	}

/* Tabs */
.iec-tab-landing .iec_tab_body_text p:not(:last-child) {margin-bottom: 1.111111rem;}

/* Features */
.iec-tab-landing .iec_tab_features {flex-direction: column;}

/* Tabs */
.iec-tab-landing .iec_tab_role_heading {margin-top: 0;}

/* Features */
.iec-tab-landing .iec_tab_feature_icon {width: 1.666667rem;}

/* Tabs */
.iec-tab-landing .iec_tab_dept_header { margin-bottom: 1.111111rem;}

/* CTA */
.iec-tab-landing .iec_tab_dept_cta_col {justify-content: center;}

/* Contact */
.iec-tab-landing .iec_tab_dept_contact_btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 10.277778rem;
		height: 2.111111rem;
		padding: 0.222222rem 1.11111rem 0;
		border-radius: 0.277778rem;
		font-size: 1rem;
	}

/* Cards */
.iec-tab-landing .iec_tab_dept_card {
		padding: 1.555556rem 0.888889rem;
	}

.iec-tab-landing .iec_tab_dept_card_layout {
		flex-direction: column;
		align-items: flex-start;
		gap: 1.666667rem;
	}

.iec-tab-landing .iec_tab_dept_card_body,
	.iec-tab-landing .iec_tab_dept_card_title {margin-bottom: 0.888889rem;}

/* Features */
.iec-tab-landing .iec_tab_dept_features {gap: 0.666667rem;}

.iec-tab-landing .iec_tab_dept_features li {
		gap: 0.666667rem;
		font-size: 0.888889rem;
		line-height: 150%;
	}

.iec-tab-landing .iec_tab_dept_features li svg {
		width: 1.666667rem;
	}

/* Cards */
.iec-tab-landing .iec_tab_dept_card_media {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}

.address_detail_repeater p {
		max-width: 9.444444rem;
		margin-inline: auto;
	}
}
